* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
}

.image-container > * {
  width: 50%;
  float: left;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.image-grid-item {
  width: 10%;
}

.image-grid-item img {
  max-width: 100%;
}

.image-grid-item.selected {
  border: 0.5em solid lightgreen;
}

.image-grid-item:not(.selected) {
  border: 0.5em solid red;
}

.image-grid-item:not(.selected) img {
  opacity: 0.7;
}

.image-grid-item.focused {
  border: 0.5em solid cornflowerblue;;
}

.query-container {
  display: flex;
}

.query-container textarea {
  flex-grow: 1;
}

.image-container > img {
  max-width: 100%;
  max-height: 100%;
}
