* {
  box-sizing: border-box;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-grid-item {
  width: 10%;
}

.image-grid-item img {
  max-width: 100%;
}

.image-grid-item.selected {
  border: 0.5em solid lightgreen;
}

.image-grid-item:not(.selected) {
  opacity: 0.7;
  border: 0.5em solid red;
}
