* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-grid-item {
  width: 10%;
}

.image-grid-item img {
  max-width: 100%;
}

.image-grid-item.selected {
  border: 0.5em solid lightgreen;
}

.image-grid-item:not(.selected) {
  border: 0.5em solid red;
}

.image-grid-item:not(.selected) img {
  opacity: 0.7;
}

.image-grid-item.focused {
  border: 0.5em solid cornflowerblue;;
}

.query-container {
  display: flex;
}

.query-container textarea {
  flex-grow: 1;
}
